header {
  height: 80px;
  display: flex;
  align-items: center;
  background-image: url(../../../img/Projects/Baclground-Color-Marmor.png);
  background-position: center;
  background-size: cover;
}

h2{
  text-align: center;
}

.color_changer{
background-color: white;

div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

button{
  height: 32px;
}
}


.leuchtendes_Cyan{
  background-color: #00F3FF;
}
