/* Global */
body {
   margin: 0px;

}

h1,h2,p {
   margin: 0;
   padding: 8px;
}


.text_center{
   text-align: center;
}

/* Header */
header {
   height: 80px;
   display: flex;
   align-items: center;
   background-image: url(../../../img/Projects/Baclground-Color-Marmor.png);
   background-position: center;
   background-size: cover;

   img {
      width: 64px;
   }
}

